<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHESEECAKE</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/recetas.css">
    <link rel="icon" href="../img/icon.jpg">
</head>
<body>

    <!--Navbar-->
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Así se cocina en esta casa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../../index.html">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="../views/quiensoy.html" target="_blank">¿Quíen soy?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/asisecocinaenestacasa/" target="_blank">Instagram</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/asisecocinaenestacasa/" target="_blank">Facebook</a>
                </li>

                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Recetas
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="../views/LemonPie.html" target="_blank">Lemon Pie</a></li>
                    <li><a class="dropdown-item" href="../views/Chessecake.html" target="_blank">Cheesecake</a></li>
                    <li><a class="dropdown-item" href="../views/Budindepan.html">Budin de Pan </a></li>
                    <li><a class="dropdown-item" href="../views/TartadeManzana.html">Torta de Manzana </a></li>
                    <li>
                    <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="https://www.youtube.com/channel/UCiIoPLUn_0XETbUStSmRt_g" target="_blank">Mas recetas en Youtube</a></li>
                </ul>
                </li>
            </ul>
            <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
            </div>
        </div>
        </div>
    </nav>

    <!--Principal-->
    <div class="principal">
        
        <aside>
        <h1 class="Titulo">CHEESECAKE</h1>
        <img class="Imagen" src="img/cheese-cake-receta-oficial.jpg" alt="Imagen no disponible" width="500" height="250">
        <p class="item">
            El <strong>Cheesecake</strong> es un postre formado por una base de galletitas partidas y manteca, con una crema a base de queso crema,
            la versión clásica se la suele acompañar con salsa de frutos rojos. También, se lo puede encontrar en versiones a base de dulce de leche,
            chocolate, entre otras combinaciones. 
        </p>
        </aside>
    
        <main>
        <h2 class="Subtitulo2">Ingredientes</h2>
        <h3 class="Subtitulo3">Base</h3>
        <ul class="item">
            <li>Galletitas dulces 300 grs</li>
            <li>Manteca 150 grs</li>
        </ul>
        <h3 class="Subtitulo3">Relleno</h3>
        <ul class="item">
            <li>CasanCrem 750 grs</li>
            <li>Huevos 4</li>
            <li>Azúcar 220 grs</li>
            <li>Crema de leche 150 ml</li>
            <li>Harina 40 grs</li>
            <li>Esencia de vainilla 2 cdas</li>
            </ul>
        <h3 class="Subtitulo3">Cubierta</h3>
        <ul class="item">
            <li>Frutos Rojos 300 grs</li>
            <li>Mermelada o coulis de frutos rojos</li>
        </ul>
        <h2 class="Subtitulo3">Preparación</h2>
        <ol class="item">
            <li>Poner el CasanCrem a temperatura ambiente en un bowl y batirlo.</li>
            <li>Agregar los huevos de a uno y batir.</li>
            <li>Agregar azúcar y seguir batiendo.</li>
            <li>Agregar esencia de vainilla.</li>
            <li>Agregar harina tamizada, la crema de leche, batir y dejar reposar.</li>
            <li>Para la base: procesar las galletitas y mezclar con la manteca. Integrar bien.</li>
            <li>Cubrir el molde con las galletitas.</li>
            <li>Cubrir con la mezcla de CasanCrem. Tapar con papel aluminio y hornear por 1 hora y 15 minutos.
                Apagar el fuego y dejar enfriar en el horno durante 1 hora.
                Llevar a la heladera por 3 horas.
            </li>
            <li>Cubrir con mermelada o coulis de frutos rojos</li>
        </ol>
    </main>
    </div>

    <!--Footer-->
    <footer>
        <p>&copy; Rocío Aparicio Vera -- </p> <br>
        <p>aparicioverarocio@gmail.com -- </p> <br>
        <p>POTRERO DIGITAL  </p> <br>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>