<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEMON PIE</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/recetas.css">
    <link rel="icon" href="../img/icon.jpg">
    
</head>
<body>

    <!--Navbar-->
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Así se cocina en esta casa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../../index.html">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="../views/quiensoy.html" target="_blank">¿Quíen soy?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/asisecocinaenestacasa/" target="_blank">Instagram</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/asisecocinaenestacasa/" target="_blank">Facebook</a>
                </li>

                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Recetas
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="../views/LemonPie.html" target="_blank">Lemon Pie</a></li>
                    <li><a class="dropdown-item" href="../views/Chessecake.html" target="_blank">Cheesecake</a></li>
                    <li><a class="dropdown-item" href="../views/Budindepan.html">Budin de Pan </a></li>
                    <li><a class="dropdown-item" href="../views/TartadeManzana.html">Torta de Manzana </a></li>
                    <li>
                    <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="https://www.youtube.com/channel/UCiIoPLUn_0XETbUStSmRt_g" target="_blank">Mas recetas en Youtube</a></li>
                </ul>
                </li>
            </ul>
            <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
            </div>
        </div>
        </div>
    </nav>

    <!--Principal-->
    <div class="principal">

        <aside>
            <h1 class="Titulo">LEMON PIE</h1>
            <img class="Imagen" src="img/Lemon Pie .jpg" alt="Imagen no disponible" width="500" height="250">
            <p class="item">
                El <strong>Lemon Pie</strong> es una tarta formada por una base de masa quebrada u hojaldre que se rellena con crema de limón. 
                Esta tarta a menudo se complementa con un merengue, lo que resulta en tarta de limón con merengue.
            </p>
        </aside>
        
        <main>
            <h2 class="Subtitulo2">Ingredientes</h2>
            <h3 class="Subtitulo3">Relleno</h3>
            <ul class="item">
                <li>Azúcar blanco 180 grs</li>
                <li>Ralladura de Limón 1 cda</li>
                <li>Jugo de Limón 1/2 taza</li>
                <li>Manteca 1/4 taza</li>
                <li>Fécula de maíz 3 1/2 cdas</li>
                <li>Leche 1 Taza </li>
                <li>Yemas 3</li>
                <li>Queso crema 200 grs</li>
            </ul>
            <h3 class="Subtitulo3">Masa</h3>
            <ul class="item">
                <li>Huevos 1</li>
                <li>Manteca 100 gr</li>
                <li>Azúcar 100 grs</li>
                <li>Harina 250 grs</li>
                <li>Ralladura de 1 limón</li>
            </ul>
            <h3 class="Subtitulo3">Merengue italiano</h3>
            <ul class="item">
                <li>Agua 100 ml </li>
                <li>Azúcar 240 grs</li>
                <li>Claras de huevo 4</li>
            </ul>
            <h2 class="Subtitulo2">Preparación</h2>
            <ol class="item"> 
                <li>En un bowl o sobre la mesada mezclar, harina, manteca pomada, azúcar, huevos y ralladura de limón.</li>
                <li>Amasar hasta unir los ingredientes. Formar un bollo, y dejar reposar en heladera por 1 hora. Precalentar el horno a 150 grados (horno medio).</li>
                <li>Forrar con papel aluminio un molde para tartas y cubrirlo con la masa llevar al horno por 30-40 minutos hasta que la masa este cocida y dorada.</li>
                <li>En una olla mezclar azúcar, leche y la fécula de maíz.</li>
                <li>Incorporar el jugo y la ralladura de limón.</li>
                <li>Agregar las yemas.</li>
                <li>Batir los ingredientes y cocinar a fuego medio sin dejar de batir hasta que la preparación espese, aproximadamente 5 minutos.</li>
                <li>Retirar del fuego e incorporar la manteca.</li>
                <li>Agregar CasanCrem y batir hasta lograr una crema homogénea.</li>
                <li>Verter la mezcla sobre la masa precocida y llevar a la heladera por 3 horas.</li>
                <li>En una olla poner azúcar y agua. Cocinar hasta lograr un almíbar a 118 grados.</li>
                <li>Batir las claras a nieve.</li>
                <li>Incorporar a las claras el almíbar caliente en forma de hilo y batir hasta enfriar la preparación.</li>
                <li>Cubrir la base cone el meregue y llevar a la heladera.</li>
            </ol>
        </main>
    </div>

    
    <!--Footer-->
    <footer>
        <p>&copy; Rocío Aparicio Vera --</p> <br>
        <p>aparicioverarocio@gmail.com --</p> <br>
        <p>POTRERO DIGITAL  </p> <br>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
</body>
</html>